main {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
   main {
    padding-left: 0;
  }
}

footer {
  position: absolute;
  padding: 20px;
  bottom:100px; 
}

.hidden {
  display: none;
}

.clase {
  height: 100%;
}

.lessonTitle {
  margin-top: 8vh;
}

.lesson {
  padding: 30px!important;
  border-radius: 20px;
  text-align: justify;
  width: 100%;
}

.containerFooter {
  text-align: left;
}

.creditosCard {
  background-image: linear-gradient(to bottom right, #000000, #ffffff);
}

.cardTema1 {
  background-image: linear-gradient(to bottom right, #00bcd4, #18ffff);
}

.cardTema2 {
  background-image: linear-gradient(to bottom left, #d4e157, #eeff41);
}

.cardTema3 {
  background-image: linear-gradient(to top right, #ff4081, #ff80ab);
}

.cardTema4 {
  background-image: linear-gradient(to top left, #ffa726, #ffab40);
}

.inicioClasesCard-action {
  border-top-color: white!important;
}

.inicioClasesCard {
  background-image: linear-gradient(to bottom right, #00bcd4, #18ffff);
}

.student_image {
  width: 150%; 
  height: auto;
}

.menuButtonLessons {
  position: fixed; 
  left: 10px; 
  top: 10px; 
  z-index: 10;
  color: black;
}

.menuButton {
  position: fixed; 
  left: 10px; 
  top: 10px; 
  z-index: 10;
  color: white;
}

.logo{
  width: 100%; 
  height: auto;
}

.cian_degrade {
  transition: background-position 1s ease;
  background-image: linear-gradient(to right, #00e5ff, #fafafa 45%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.cian_degrade:hover {
  background-position: left bottom;
}

.lime_degrade {
  transition: background-position 1s ease;
  background-image: linear-gradient(to right, #eeff41, #fafafa 45%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.lime_degrade:hover {
  background-position: left bottom;
}

.pink_degrade {
  transition: background-position 1s ease;
  background-image: linear-gradient(to right, #ff4f89, #fafafa 45%);
  background-size: 200% 100%;
  background-position:right; bottom;
}

.pink_degrade:hover {
  background-position: left bottom;
}

.orange_degrade {
  transition: background-position 1s ease;
  background-image: linear-gradient(to right, #ffab40, #fafafa 45%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.orange_degrade:hover {
  background-position: left bottom;
}

.black_degrade {
  transition: background-position 1s ease, color 1s ease;
  background-image: linear-gradient(to right, #000000, #fafafa 45%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.black_degrade:hover {
  background-position: left bottom;
  color: white;
}

.degrade_active {
  background-position: left bottom;
}